<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
    <ion-title>Racem</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">        
        <img src="assets/images/logoo.png" height="220px">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
   

    <ion-item>
      <ion-label color="light">Nom utilisateur</ion-label>
      <ion-input class="ion-text-center" color="light" type="text" clearInput 
      placeholder="Saisir Nom utilisateur" 
      [(ngModel)]="email">
      
     </ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input style="border-radius: 100px;" [type]="passwordType"  color="light" class="ion-text-center" clearInput placeholder="Mot de passe"
        (keyup.enter)="login()" [(ngModel)]="password">
      </ion-input>
      <ion-icon name="eye" color="gray" (click)="togglePassword()"> </ion-icon>
    </ion-item>

  </ion-list>

  <ion-button expand="block" class="text capitalize" color="tertiary" shape="round" (click)="login()">
    Connexion
  </ion-button>

  <ion-item id="spinner">
    <ion-spinner *ngIf="spinner == true"></ion-spinner>
  </ion-item>

  <div class="ion-text-center">
    <a href="/inscription">
      <ion-icon name="person-add-outline"></ion-icon>
      Créer un compte
    </a>
    <br>
    <a href="/reset-password">
      <ion-icon name="mail-outline"></ion-icon>
      Récupérer le mot de passe
    </a>
  </div>

</ion-content>

