<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Récupérez votre mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-icon
          name="mail"
          class="person">
        </ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p>
    Avez-vous oublié votre mot de passe? Ne t'inquiète pas. Écrivez votre email et vous pouvez changer le mot de passe.
    Ne l'oubliez plus ! 
  </p>

  <br>

  <ion-item>
    <ion-input
      class="ion-text-center"
      clearInput
      placeholder="Email"
      [(ngModel)]="email">
    </ion-input>
  </ion-item>

  <br>

  <ion-button
    expand="block"
    class="capitalize"
    color="tertiary"
    shape="round"
    (click)="resetPassword()">
    Accepter
  </ion-button>

  <ion-button
    expand="block"
    class="text capitalize"
    color="light"
    shape="round"
    href="/inscription">
    non
  </ion-button>
</ion-content>

