ion-thumbnail{
    width: 150px;
    height: auto;
}
ion-content {
    
    --ion-background-color: linear-gradient(#414141, #75787c);
}
p{
    color: #f86c6c;
}
.racem{
    color: rgb(255, 255, 255);
    font-size:xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}